<footer class="bg-dark text-center text-lg-start mt-5">

    <!--Popup section-->
    <app-custom-modal #CustomModalComponent> </app-custom-modal>
    <!--Popup section ends-->

    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">{{'CONTACT' | translate}}</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="text-light">{{contactInfo.companyName}}</div>
                    </li>
                    <li>
                        <div class="text-light">{{contactInfo.street}}</div>
                    </li>
                    <li>
                        <div class="text-light">{{contactInfo.zipCity}}</div>
                    </li>
                    <li>
                        <div class="text-light">{{contactInfo.country}}</div>
                    </li>
                    <li>
                        <div class="text-light">{{contactInfo.phoneNumber}}</div>
                    </li>
                    <li>
                        <div class="text-light"><a href="mailto:{{contactInfo.email}}">{{contactInfo.email}}</a></div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">{{"LEGAL NOTICES" | translate}}</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <div class="text-light"> <a href="/assets/legal/condition.html" target="_blank"> {{"TERMNS AND
                                CONDITION" | translate}}</a></div>
                    </li>
                    <li>
                        <div class="text-light"><a href="/assets/legal/imprint.html" target="_blank"> {{"IMPRINT" |
                                translate}}</a></div>
                    </li>
                    <li>
                        <div class="text-light"><a href="/assets/legal/privacy_policy.html" target="_blank">{{"PRIVACY
                                POLICE" | translate}}</a></div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">{{"STORE OPENING HOURS"|translate}}</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <ul class="list-unstyled mb-0 text-light">
                            <li>{{"MONDAY"| translate}}: 13:30 - 18:30</li>
                            <li>{{"TUESDAY"| translate}} - {{"FRIDAY"| translate}}: 9:00 - 18:30</li>
                            <li>{{"SATURDAY"| translate}}: 9:00 - 16:00</li>
                            <li>{{"SUNDAY"| translate}}: {{"CLOSED"| translate}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">{{"RESTAURANT OPENING HOURS"|translate}}</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <ul class="list-unstyled mb-0 text-light">
                            <li>{{"THURSDAY"| translate}} - {{"FRIDAY"| translate}}: 11:00 - 17:30</li>
                            <li>{{"SATURDAY"| translate}}: 11:00 - 15:30</li>
                            <li>{{"SUNDAY"| translate}} - {{"WEDNESDAY"| translate}} : {{"CLOSED"| translate}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">