<!--Popup section-->
<app-custom-modal #CustomModalComponent> </app-custom-modal>
<!--Popup section ends-->

<!-- Product Showcase -->
<div #container class="container my-5">
    <div *ngIf="product" class="row">
        <div><a [href]="['/shop?category='+ encodeSpecialChars(product.category)]">{{product.category}}</a> <i class="bi bi-chevron-right"></i> <a [href]="['/shop?category='+encodeSpecialChars(product.category)+'&subcategory='+encodeSpecialChars(product.subCategory)]">{{product.subCategory}}</a></div>
        <div class="col-lg-6">
            <img src ="{{fileServer}}/images/products/{{product.productId}}.jpg"
            onerror="this.onerror=null; this.src='assets/NotFound.png'"
            alt = "Product image">
        </div>
        <div class="col-lg-6">
            <h2 class="mb-4">{{ "PRODUCT DETAILS" | translate}}</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">{{'PRODUCT ID'|translate}}</th>
                        <td>{{productId}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'GTIN'|translate}}</th>
                        <td>{{product.gtinUnit}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'PRODUCT NAME'|translate}}</th>
                        <td>{{product.productName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'BRAND'|translate}}</th>
                        <td><a [href]="['/shop?category='+product.category+'&subcategory='+product.subCategory]+'&brand='+product.brand"> {{product.brand}} </a></td>
                    </tr>
                    <tr>
                        <th scope="row">{{'WEIGHT PER UNIT'|translate}}</th>
                        <td>{{product.weight}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'COUNTRY OF ORIGIN'|translate}}</th>
                        <td>{{product.origin}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'PACKAGING SIZE'|translate}}</th>
                        <td>{{product.pack}}</td>
                    </tr>
                    <!--<tr>
                        <th scope="row">{{'STOCK'|translate}}</th>
                        <td>{{product.stock}}</td>
                    </tr>-->

                    <tr>
                        <th scope="row">{{'TAX'|translate}}</th>
                        <td>{{product.tax}} %</td>
                    </tr>

                   <!-- <tr *ngIf="logged">
                        <th scope="row">{{'PRICE PER UNIT'|translate}}</th>
                        <td>{{formatPrice(displayPrice())}}</td>
                    </tr>-->

                    <tr *ngIf="!product.stock || product.stock<1 || product.deleted">
                        <th scope="row" class=text-danger>{{'NOT AVAILABLE'|translate}}</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="mb-3">
                <label for="quantityType" class="form-label">{{'CHOOSE QUANTITY TYPE' | translate}}</label>
                <select #quantityOption class="form-select" id="quantityType" aria-label="Quantity Type">
                    
                    <option value="piece">{{"UNIT" | translate}}</option>
                    <option *ngIf="hasCarton()" selected value="carton">{{"CARTON" | translate}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="quantity" class="form-label">{{"QUANTITY"| translate}}:</label>
                <input #quantityInput type="number" class="form-control" id="quantity" min="1" value="1">
            </div>
            <div class="mb-3">
                <button class="btn btn-secondary" (click)="addToCart()"><i class="bi bi-cart-plus"></i> {{"ADD TO CART" | translate}}</button>
            </div>
            <div class="alert alert-success" *ngIf="cartMessage">{{ cartMessage }}</div>
            <div class="mb-3">
                <button class="btn btn-secondary" [routerLink]="['/cart']"><i class="bi bi-cart4"></i> {{"PROCEED TO CART" | translate}} </button>
            </div>
            <div *ngIf="logged">
                <div *ngIf="favourite" class="mb-3">
                    <button class="btn btn-secondary" (click)="removeFavourite()"><i class="bi bi-bookmark-dash"></i> {{"REMOVE FROM FAVORITES" |
                        translate}}</button>
                </div>
                <div *ngIf="!favourite" class="mb-3">
                    <button class="btn btn-secondary" (click)="addFavourite()"><i class="bi bi-bookmark-star-fill"></i> {{"ADD TO FAVORITES" | translate}} </button>
                </div>
            </div>
        </div>
    </div>
</div>