<!--Popup section-->
<app-custom-modal #CustomModalComponent> </app-custom-modal>
<!--Popup section ends-->



<div class="container" #container>
    <h1 class="text-center mt-4">{{'CHECKOUT' | translate}}</h1>

    <!--ADMIN SECTION-->
    <div *ngIf="isAdmin" class="row mt-5">
        <div class="col-md-8">
            <div class="mb-3">
                <h2>{{"ADMIN MENU" | translate}} </h2>
                <label for="customerInput" class="form-label">{{ "SEARCH CUSTOMER" | translate}}</label> <br>
                <div class="input-group mb-3">
                    <input id="customerInput" #customerInput type="text" (keyup.enter)="getUsers(customerInput.value)" class="form-control" [placeholder]="getTranslation('SEARCH BY USERNAME')">
                    <button class="btn btn-secondary" type="button" (click)="getUsers(customerInput.value)">{{"SEARCH" | translate}}</button>
                  </div>                  
                <select #customerSelect id="customerSelect" class="form-select" aria-label="Default select example" (change)="onOptionSelected()">
                    <option *ngFor="let user of users" value="{{user.username}}">{{user.username}} - {{user.attributes.company.toString()}}</option>
                </select>
            </div>
        </div>
    </div>
    <!--ADMIN SECTION END-->

    <div class="row mt-5">
        <div class="col-md-8">
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">

                <!-- Personal Information -->
                <h4>Personal Information</h4>
              
                <div class="mb-3">
                  <label for="companyInput" class="form-label">Company</label>
                  <input type="text" class="form-control" id="companyInput" placeholder="Company" formControlName="companyInput">
                </div>
              
                <!-- Name -->
                <div class="mb-3">
                  <label for="firstnameInput" class="form-label">{{'FIRSTNAME' | translate}}</label>
                  <input type="text" class="form-control" id="firstnameInput" placeholder="John Doe" formControlName="firstnameInput">
                </div>
              
                <div class="mb-3">
                  <label for="lastnameInput" class="form-label">{{'LASTNAME' | translate}}</label>
                  <input type="text" class="form-control" id="lastnameInput" placeholder="John Doe" formControlName="lastnameInput">
                </div>
              
                <!-- Email -->
                <div class="mb-3">
                  <label for="emailInput" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" formControlName="emailInput" required>
                </div>
              
                <!-- Phone -->
                <div class="mb-3">
                  <label for="phoneInput" class="form-label">Phone Number</label>
                  <input type="tel" class="form-control" id="phoneInput" placeholder="+1234567890" formControlName="phoneInput">
                </div>
              
                <hr class="my-4">
          
                <!-- Billing Address -->
                <h4>Billing Address</h4>
                <div formGroupName="billingAddress">
                  <div class="mb-3">
                    <label for="billingStreetInput" class="form-label">Address Line</label>
                    <input type="text" class="form-control" id="billingStreetInput" placeholder="1234 Main St" formControlName="billingStreetInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="billingCityInput" class="form-label">City</label>
                    <input type="text" class="form-control" id="billingCityInput" formControlName="billingCityInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="billingStateInput" class="form-label">State</label>
                    <input type="text" class="form-control" id="billingStateInput" formControlName="billingStateInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="billingZipInput" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="billingZipInput" formControlName="billingZipInput" required>
                  </div>
                  <div class="mb-3">
                    <label for="billingCountryInput" class="form-label">Country</label>
                    <input type="text" class="form-control" id="billingCountryInput" formControlName="billingCountryInput" required>
                  </div>
                </div>
              
                <hr class="my-4">
              
                <!-- Delivery Address -->
                <h4>Delivery Address</h4>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="sameAddressCheck" (change)="toggleInput($event)">
                  <label class="form-check-label" for="sameAddressCheck">
                    Same as billing address
                  </label>
                </div>
  
                <div formGroupName="deliveryAddress">
                  <div class="mb-3">
                    <label for="deliveryStreetInput" class="form-label">Address Line</label>
                    <input type="text" class="form-control" id="deliveryStreetInput" placeholder="1234 Main St" formControlName="deliveryStreetInput">
                  </div>
                  <div class="mb-3">
                    <label for="deliveryCityInput" class="form-label">City</label>
                    <input type="text" class="form-control" id="deliveryCityInput" formControlName="deliveryCityInput">
                  </div>
                  <div class="mb-3">
                    <label for="deliveryStateInput" class="form-label">State</label>
                    <input type="text" class="form-control" id="deliveryStateInput" formControlName="deliveryStateInput">
                  </div>
                  <div class="mb-3">
                    <label for="deliveryZipInput" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="deliveryZipInput" formControlName="deliveryZipInput">
                  </div>
                  <div class="mb-3">
                    <label for="deliveryCountryInput" class="form-label">Country</label>
                    <input type="text" class="form-control" id="deliveryCountryInput" formControlName="deliveryCountryInput">
                  </div>
                </div>

                <div class="mb-3">
                    <label for="delivery" class="form-label">{{"DELIVERY DATE" | translate}}</label>
                    <input id="delivery" type="date" class="form-control" formControlName="deliveryDateInput" min={{minDate}}
                        required>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">{{"COMMENT" | translate}} ({{"MAXIMUM CHARACTERS" |
                        translate}}) </label>
                    <textarea id="comment" type="text" class="form-control" rows="3" formControlName="commentInput"
                        maxlength="1000"></textarea>
                </div>
            
                <!-- Submit Button -->
                <button type="submit" #submitBT class="btn btn-dark border border-light">Submit</button>
              
              </form>

            <div>*{{"ONLY INVOICING MESSAGE" | translate}}</div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{"CART TOTALS" | translate}}</h5>
                    <!--<p>{{"SUBTOTAL" | translate}}: $XX.XX</p>
                    <p>{{"TAX" | translate}}: $X.XX</p>-->
                    <p>{{"TOTAL" | translate}}: {{formatPrice(getTotal())}}*</p>
                    <p>*{{"PRICE VARIATION MESSAGE" | translate}} {{"MINIMUM ORDER MESSAGE" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
