<div class="container pt-3 pb-3">
    <div class="container-fluid">
        <div class="row">
            <!-- Menu Sidebar -->
            <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="list-group">

                    <a class="list-group-item list-group-item-action" routerLink="/profile/edit" routerLinkActive="active">{{'PROFILE EDIT' | translate}}</a>
                    <a class="list-group-item list-group-item-action" routerLink="/profile/history" routerLinkActive="active">{{'ORDER HISTORY' | translate}}</a>
                    <a type="button" [target]="'_blank'" [href]="[profilpage]"
                        class="list-group-item list-group-item-action">
                        {{'PROFILE SETTINGS' | translate}}
                    </a>
                </div>
            </div>

            <!-- Content Area -->
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <router-outlet></router-outlet> <!-- This will load the subcomponent -->
            </div>
        </div>
    </div>
</div>