<br>

<!--Popup section-->
<app-custom-modal #CustomModalComponent> </app-custom-modal>
<!--Popup section ends-->

<!-- shop-page.component.html -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <!-- Filter options -->
            <div class="container mt-5">

              <div *ngIf="logged" class="filter-section border p-3 rounded">
                <h5 style="cursor:pointer;" (click)="scroll(productList);" [routerLink]="'/shop'" [queryParams]="{'favorite': username}">Favorite</h5>
              </div>

                <div class="filter-section border p-3 rounded">
                    <!-- Categories -->
                    <h5>{{'CATEGORIES' | translate}}</h5>
                    <div *ngFor="let productCategory of categories ; let i = index">
                        <hr>
                        <h6 class="toggle-heading" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#subcategoryList' + i"
                            style="cursor: pointer;">
                            <i class="bi bi-caret-down"></i>
                            {{productCategory.category}}
                        </h6>
                        <div id="{{'subcategoryList' + i}}" class="overflow-auto collapse"
                            style="height: 100px;">
                            <a *ngFor="let group of productCategory.subCategory | keyvalue"
                                style="color:#11698e;text-decoration: none; cursor:pointer;"
                                (click)="scroll(productList);" [routerLink]="'/shop'" [queryParams]="{'category': productCategory.category,'subcategory': group.value }">{{group.value}}
                                <br></a> <br>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-lg-9">
            <!-- Search bar -->
            <div class="input-group mb-3">
                <input #inputID type="text" (keyup.enter)="searchItBt();"
                    class="form-control" placeholder="{{'SEARCH FOR PRODUCTS' | translate}}"
                    aria-label="Search products">
                <button class="btn btn-secondary" (click)="searchItBt();"
                    type="button">{{"SEARCH" | translate}}</button>
            </div>

            <!-- Product list -->
            <div class="row" #productList>

                <!--FILTER BAR-->
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <span class="navbar-brand">{{'PRODUCT FILTER'| translate}}</span>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFilterContent" aria-controls="navbarFilterContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarFilterContent">
                        <ul class="navbar-nav me-auto">
                          <!-- Brand filter dropdown -->
                          <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" id="navbarBrandDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              {{'BRAND'| translate}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarBrandDropdown">
                              <!-- Wrap checkboxes in div and stop propagation to keep the dropdown open when clicking inside -->
                              <div *ngFor="let brand of filters?.brands" onclick="event.stopPropagation();">
                                <label class="dropdown-item">
                                  <input class="form-check-input me-1" type="checkbox" value="Brand1" id="brand_{{handleEmptySpaces(brand)}}" (change)="onBrandChange($event, brand)" [checked]="brandIsChecked(brand)">
                                    {{brand}}
                                </label>
                              </div>
                            </ul>
                          </li>
                          <!-- Origin filter dropdown -->
                          <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" id="navbarOriginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              {{'COUNTRY OF ORIGIN' | translate}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarOriginDropdown">
                              <!-- Wrap checkboxes in div and stop propagation to keep the dropdown open when clicking inside -->
                              <div *ngFor="let origin of filters?.origins" onclick="event.stopPropagation();">
                                <label class="dropdown-item">
                                  <input class="form-check-input me-1" type="checkbox" value="Country1" id="country_{{handleEmptySpaces(origin)}}" (change)="onOriginChange($event,origin)" [checked]="originIsChecked(origin)">
                                  {{origin}}
                                </label>
                              </div>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" id="navbarSortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              {{'SORT BY' | translate}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarSortDropdown">
                              <div *ngFor="let option of sortOptions" onclick="event.stopPropagation();">
                                <div onclick="event.stopPropagation();">
                                  <label class="dropdown-item">
                                    <input class="form-check-input me-1" type="radio" name="sortOptions" [value]="option.key" #sortByOption (click)="onSortChange($event,true)">
                                    <a> {{option.value.toUpperCase() | translate}}</a>  <i class="bi bi-arrow-up-short"></i>
                                  </label>
                                </div>
                                <div onclick="event.stopPropagation();">
                                  <label class="dropdown-item">
                                    <input class="form-check-input me-1" type="radio" name="sortOptions" [value]="option.key" #sortByOption (click)="onSortChange($event,false)">
                                   <a> {{option.value.toUpperCase() | translate}} </a> <i class="bi bi-arrow-down-short"></i>
                                  </label>
                                </div>
                              </div>
                            </ul>
                          </li>
                        </ul>
                        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Apply Filters</button>-->
                      </div>
                    </div>
                  </nav>
                  <!--FILTER BAR END-->
                  

                <!-- Add your product cards here -->
                <!-- For example: -->
                <div class="col-md-4 mb-4"
                    *ngFor="let product of currentProducts | paginate: { itemsPerPage: 12, currentPage: page, totalItems:maxItems }">
                    <div class="card">

                        <a class="d-flex justify-content-center align-items-center"
                            [routerLink]="['/product/'+product.productId]"> <img class="card-img-top"
                                style="max-height: 15em; width: auto; max-width: 17em;"
                                src ="{{fileServer}}/images/products/{{product.productId}}.png"
                                onerror="this.onerror=null; this.src='assets/NotFound.png'"
                                alt = "Product image" 
                                /></a>

                        <div class="card-body" style="overflow-y: auto;">
                            <h5 class="card-title">{{product.productId}}  - {{product.productName}}</h5>
                            <p class="card-text">{{product.weight}}</p>
                            <div class="row">

                                <div class="col-sm mb-3">
                                    <input #quantityInput type="number" class="form-control"
                                        id="quantity" min="1" value="1">
                                </div>

                                <div class="col-sm mb-3">
                                    <select class="form-select" #selectQuantity
                                        aria-label="Quantity Type">
                                        <option value="piece">{{"UNIT" | translate}}</option>
                                        <option *ngIf="hasCarton(product)" selected value="carton">{{"CARTON" |
                                            translate}}</option>
                                    </select>
                                </div>

                                <button class="btn btn-secondary" (click)="addItemToCart(product,quantityInput,selectQuantity)"><i
                                        class="bi bi-cart-plus"></i> {{"ADD TO CART" | translate}}</button>
                            </div>
                        </div>

                    </div>
                </div>

                <pagination-controls (pageChange)="page = $event" (click)="setPageParam()"
                    [nextLabel]="getTranslation('NEXT')"
                    [previousLabel]="getTranslation('PREVIOUS')"></pagination-controls>

                <button class="btn btn-secondary my-4" [routerLink]="['/cart']">{{"PROCEED TO CART" |
                    translate}}</button>

            </div>
        </div>


        <br>