<!--Popup section-->
<app-custom-modal #CustomModalComponent> </app-custom-modal>
<!--Popup section ends-->

<div class="container mt-5">
    <h2 class="mb-4" #title>{{"ORDER HISTORY" | translate}}</h2>
    <div class="accordion" id="orderHistoryAccordion">


        <div *ngFor="let order of orders | paginate: { itemsPerPage: maxOrdersPerPage, currentPage: page, totalItems:maxItems }" class="accordion-item mb-4" >
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#order_'+order.orderId" aria-expanded="false" [attr.aria-controls]="'#'+order.orderId">
                   {{"ORDER NUMBER" | translate}} {{order.orderId}} | {{"CREATION DATE" | translate}} {{convertTimestampToDate(order.created)}} | {{"DELIVERY DATE" | translate}} {{convertTimestampToDate(order.orderDate)}}
                </button>
            </h2>

            <div id="order_{{order.orderId}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#orderHistoryAccordion">
                <button class="btn btn-secondary my-3 mx-2" (click)="loadItemsToCart(order)">{{"RELOAD ITEMS" | translate}}</button>
                <div class="accordion-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">{{"PRODUCT ID" | translate}}</th>
                                <th scope="col">{{"PRODUCT NAME" | translate}}</th>
                                <th scope="col">{{"QUANTITY" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of order.orderDetails"> 
                                <th scope="row">
                                    <a *ngIf="!item.product.deleted" [routerLink]="['/product/'+item.product!.productId]"> {{item.product.productId}} </a>
                                    <a *ngIf="item.product.deleted" [routerLink]="['/product/'+item.product!.productId]"> <del>{{item.product.productId}} </del></a>
                                </th>
                                <td> 
                                    <a *ngIf="!item.product.deleted" [routerLink]="['/product/'+item.product!.productId]">{{item.product.productName}}</a>
                                    <a *ngIf="item.product.deleted" [routerLink]="['/product/'+item.product!.productId]"><del>{{item.product.productName}}</del> <a class=text-danger> {{"OUT OF STOCK" | translate}}</a></a>
                                </td>
                                <td> 
                                    <a *ngIf="!item.product.deleted">{{item.quantity}}</a>
                                    <a *ngIf="item.product.deleted"><del>{{item.quantity}} </del></a>
                                </td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <pagination-controls (pageChange)="page = $event" (click)="scroll(title); setPageParam()"
        [nextLabel]="getTranslation('NEXT')"
        [previousLabel]="getTranslation('PREVIOUS')"></pagination-controls>
         
</div>